$beige: #feffea;
$green-light: #B5D99C;
$green: #2eb872;
$pink: #ff5d6e;
$gray: #0E0000;
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
