.booking-confirmation-container{
	margin-top: 20vh;
}

.fa-check-circle {
	color: rgba(181, 217, 156, 1);
}

p {
	text-align: center;
}

// .booking-confirmation-recap {
// 	border: 1px solid black;
// 	width: 30%;
// 	margin: 0 auto;
// }

.back-link {
	text-align: center;
	margin-top: 200px;
}