h5 {
  margin: 20px;
  text-align: center;
  padding: 20px;
  font-size: 25px;
}

.container-booking {
  margin:0px;
  margin-bottom: 70px;
}

.card-booking-summerize {
  display: flex;
  justify-content: space-around;
  margin-left: 100px;
  margin-right: 100px;

}

.card-booking-kid {
  overflow: hidden;
  height: 300px;
  position: relative;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-position: center;
  padding: 0px;
  margin-bottom: 20px;
  border-radius: 10px;
  max-width: 60%;
  margin-right: 40px;
  display: flex;
  align-content: space-between;
}

.card-booking-kid {
  .img-kid {
    height: 100%;
  }
}


.card-booking-summerize-description {
  padding: 20px;
  height: 100%;
}

.card-booking-summerize-description p {
  font-size: 16px;
  line-height: 1.4;
  line-height: 2.5;
  text-align: left;
}

.card-booking-settings{
  height: 200px;
}

.card-booking-settings .btn {
  width: 250px;
  float: none;
}

.btn .btn-booking {
  width: 250px;
  margin: auto;
  overflow-wrap: break-word;
}

.form-wrapper {
  display: flex;
}

.hidden{
  display: none;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  border: 0.3px solid #bfbfbf;
  padding: 15px;
  border-radius: 10px;
  background-color: white;
  height: 300px;

}

#booking-total{
  padding-bottom: 10px;
}

