// Import page-specific CSS files here.
@import "home";
@import "cards";

.container {
  margin: 50px auto;
  max-width: 900px;
  display: flex;
  flex-direction: column;
}

a {
  color: #ed3833;
}
a:link {
  text-decoration: none;
}

a:hover {
  color: grey;
}

u {
  color: grey;
}


