// Import page-specific CSS files here.
@import "home";

.container {
  margin: 50px auto;
  max-width: 900px;
  flex-direction: row;
  justify-content: space-around;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.btn-details {
  // display: flex;
  // // flex-direction: row;
  // justify-content: space-around;

  margin-right: 50px;
}

.cards-product-infos h2{
  color: #ed3833
}

