.container-index {
  margin: 50px auto;
  max-width: 900px;
  flex-direction: row;
  justify-content: space-around;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  font-family: 'Montserrat', sans-serif;
}

.cards-product-infos h2{
  color: rgba(181, 217, 156, 1);;
  letter-spacing: 0.2em;
  font-family: 'Baloo Bhai', cursive;
}

.cards-product-infos p {
 font-family: 'Montserrat', sans-serif;
 font-size: 13px;
}

.card-product-details p {
  display: inline-block;
  position: absolute;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  margin: 4px 0 0 38px;
  font-size: 18px;
  font-weight: lighter;
  color: #474747;
}




