.btn {
  float: right;
  display: inline-block;
  height: 50px;
  width: 150px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #ff5d6e;
  cursor: pointer;
  outline: none;
  padding-top: 15px;
}

.btn:hover {
  background-color: #79b0a1;
  color: #ffffff;
}
