.btn {
  float: right;
  display: inline-block;
  width: 150px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  cursor: pointer;
  outline: none;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: #ff5d6e !important;
  cursor: pointer;
  outline: none;
  padding: 18px;
  color: white;
  opacity: 0.8;
  &-booking {
    width: inherit;
    margin: auto;
    width:100%;
  }
}

.btn:hover {
  background-color: #ff5d6e;
  color: white;
  opacity: 1;
}
