.button-small {
  float: right;
  display: inline-block;
  height: 40px;
  width: 100px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  text-align: center;
  border-radius: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: white;
  background-color: $pink;
  cursor: pointer;
  outline: none;
  padding: 4px;
}

.button-smal:hover {
  background-color: $pink;
  text-decoration: none;
  color: white;
}

a {
  color: white;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #dedede;
}
.card-product-details {
  height: 103px;
  width: 100%;
  margin-top: 17px;
  position: relative;
}


